name: Security audit

permissions:
  contents: read
  issues: write

on:
  schedule:
    - cron: '0 4 * * 2' # weekly at 0400 on Tuesday
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  security_audit:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.cargo/advisory-db
          key: ${{ runner.os }}-cargo-advisory-db
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
