name: Security audit

on:
  schedule:
    - cron: '0 4 * * 2' # weekly at 0400 on Tuesday
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  audit:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
