name: Make release archive

permissions:
  contents: write

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad #v0.0.9
        # Workaround for a bug where Windows runners were not using the cache
        # Ref: https://github.com/Mozilla-Actions/sccache-action/issues/177#issuecomment-2928104810
      - name: Tell sccache to use Actions cache
        run: Add-Content -Path $env:GITHUB_ENV -Value "SCCACHE_GHA_ENABLED=true"

      - name: Build release binary
        run: cargo build --release
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: sccache

      - name: Make release archive
        run: |
          python scripts\mkrelease.py

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: 'ddrand-v*-x86_64-windows.zip'
          fail_on_unmatched_files: true
          draft: false
          prerelease: false
          make_latest: "true"
          tag_name: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
